# Prerequisites
*.d

# Compiled Object files
*.lo
*.o
*.obj
*.slo

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.dylib
*.so

# Compiled Static libraries
*.a
*.la
*.lai

# Executables
*.app
*.exe
*.out

# Specific Files
.vs/
Spectrum-Analyizer/Spectrum-Analyizer/FONTATLAS.bmp
Spectrum-Analyizer/Spectrum-Analyizer/Libraries/bin/*
Spectrum-Analyizer/Spectrum-Analyizer/Libraries/include/*
Spectrum-Analyizer/Spectrum-Analyizer/Libraries/lib/*
Spectrum-Analyizer/Spectrum-Analyizer/Libraries/src/*
Spectrum-Analyizer/Spectrum-Analyizer/x64/
Spectrum-Analyizer/x64/

# File Exceptions
!Spectrum-Analyizer/Spectrum-Analyizer/Libraries/bin/bin.txt
!Spectrum-Analyizer/Spectrum-Analyizer/Libraries/include/include.txt
!Spectrum-Analyizer/Spectrum-Analyizer/Libraries/lib/lib.txt
!Spectrum-Analyizer/Spectrum-Analyizer/Libraries/src/sc