# Prerequisites
*.d

# Compiled Object files
*.lo
*.o
*.obj
*.slo

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.dylib
*.so

# Compiled Static libraries
*.a
*.la
*.lai

# Executables
*.app
*.exe
*.out

# Specific Files
.vs/
Spectrum-Analyzer/Spectrum-Analyzer/FONTATLAS.bmp
Spectrum-Analyzer/Spectrum-Analyzer/Libraries/bin/*
Spectrum-Analyzer/Spectrum-Analyzer/Libraries/include/*
Spectrum-Analyzer/Spectrum-Analyzer/Libraries/lib/*
Spectrum-Analyzer/Spectrum-Analyzer/Libraries/src/*
Spectrum-Analyzer/Spectrum-Analyzer/x64/
Spectrum-Analyzer/x64/

# File Exceptions
!Spectrum-Analyzer/Spectrum-Analyzer/Libraries/bin/bin.txt
!Spectrum-Analyzer/Spectrum-Analyzer/Libraries/include/include.txt
!Spectrum-Analyzer/Spectrum-Analyzer/Libraries/lib/lib.txt
!Spectrum-Analyzer/Spectrum-Analyzer/Libraries/src/sc